
.code-styles {
    overflow-x: scroll;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1), 5px 0px 5px rgba(0, 0, 0, 1);
}
.prism-code {
    padding: .8rem .8rem 0rem .8rem;
    .code-styles();
}
.live-editor {
    margin-top: 1rem;
    .code-styles();
}
