@import '../../style/core.less';

@prefix-cls-body: ~'@{prefix-cls}-body';
@prefix-cls-header: ~'@{prefix-cls}-header';
@prefix-cls-layout: ~'@{prefix-cls}-layout';
@prefix-cls-drawer: ~'@{prefix-cls}-drawer';

@sider-width: 14rem;

.@{prefix-cls-layout} {
    --header-height: 3.5rem;
    height: 100%;
}

.@{prefix-cls-header} {
    height: var(--header-height);
    background-color: rgba(33,33,33, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    > div {
        display: inline-flex;
        align-items: center;
        height: var(--header-height);
        a {
            cursor: pointer;
            color: #fff;
        }
        > h1 {
            float: left;
            padding-inline-start: 2.5rem;
            font-size: 1.2rem;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
    }
    > ul {
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        padding-right: 2rem;
        height: var(--header-height);
        float: right;
        > li {
            display: inline-block;
            list-style: none;
            height: 100%;
            cursor: pointer;
            padding: 0px 1rem 0px 1rem;
            &:hover {
                background-color: #666666;
            }
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                > a {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }
}

.@{prefix-cls-body} {
    display: flex;
    background-color: @background-color;
    height: calc(100% - var(--header-height));
}

.@{prefix-cls-body}-home {
    background-image: url(../../assets/future_web.svg);
    height: 600px;
    width: 100%;
    background-position: right 50vw top 50%;
    background-size: 650px;
    background-repeat: no-repeat;
    display: flex;
    > div {
        max-width: 408px;
        margin: 1rem 20% 0 auto;
        > p {
            margin-bottom: 27px;
            line-height: 1.6;
        }
        > button {
            background-color: #3740ff;
            color: #fff;
            height: 40px;
            cursor: pointer;
            border: 0;
            font-size: 1rem;
            border-radius: 3px;
            letter-spacing: 1px;
            transition: background-color .2s,box-shadow .2s;
            padding: 0px 20px;
            &:hover {
                box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
            }
        }
    }
}

.@{prefix-cls-body}-sider {
    width: @sider-width;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    > ul {
        margin-top: 2em;
        padding-inline-start: 0px;
        list-style: none;
        > div {
            padding-inline-start: 1em;
            padding-bottom: 0.3em;
            cursor: default;
        }
        .@{prefix-cls-body}-select {
            border-right: 3px solid rgb(97, 218, 251, .4);
        }
        > li {
            display: flex;
            cursor: pointer;
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            padding-inline-start: 2em;
            &:hover {
                opacity: .7;
            }
        }
    }
}

.@{prefix-cls-body}-float-sider {
    position: absolute;
    width: calc(@sider-width - 2rem);
    height: calc(100% - var(--header-height));
    background-color: @background-color;
    z-index: 1000;
}


.@{prefix-cls-body}-content {
    flex: 1;
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding-left: 4em;
    padding-right: 4em;
}

.@{prefix-cls-drawer}-handle {
    position: absolute;
    bottom: 12rem;
    width: 25px;
    height: 36px;
    cursor: pointer;
    z-index: 0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: @background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    opacity: .6;
}



@media screen {
    @media (max-width: 992px) {
        .@{prefix-cls-body}-content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .@{prefix-cls-body}-home {
            background-position: left 50% top -215px;
            background-size: 400px;
            > div {
                width: 100%;
                margin: 140px 1rem 0 1rem;
            }
        }
    }
}
